<div class="container">
    <h2>About IT Shop:</h2> 
    <div>
        The IT Shop has been operating since November 2020. The founder of the store is Kacper Zdrojewski. The store has its headquarters in Warsaw (Poland) and has over 10 thousand employees. The main goals of our store are: online sales of the highest quality IT products, maintaining good contacts with customers and immediate response to reported errors.
        <br>
        In the future, the company plans to expand its assortment, open a branch in other major Polish cities and employ much more people. The store is supported by leading partners - more about them in the "partners" section. The IT Shop plans to develop constantly and continue to meet customer expectations. If you have found a mistake or would like to ask something, do not creep up - ask us a question.
    </div>
    <br><br>
    <h2>Partners:</h2> 
    <div class="row">
        <div class="column">
            <img class="partner" src="assets/img/allegro.png">
        </div>
        <div class="column">
            <img class="partner" src="assets/img/santander.png">
        </div>
        <div class="column">
            <img class="partner" src="assets/img/komputronik.png" style="width: 250px;">
        </div>
    </div>
    <div class="row">
        <div class="column">
            <img class="partner" src="assets/img/ibm.jpg">
        </div>
        <div class="column">
            <img class="partner" src="assets/img/xcom.png">
        </div>
        <div class="column">
            <img class="partner" src="assets/img/samsung.png" style="width: 200px;">
        </div>
    </div>
  </div>