<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin panel</title>
    <link rel="stylesheet" href="css/core.css" />
    <link rel="stylesheet" href="css/main2.css" />
</head>
<body>
<div class="external" id="top">

    <div class="header">
        <a href="./"><h1 class="logo">IT Shop<br /><br /><p class="subtitle">
            The largest selection of the best products</p></h1></a>
        <div class="home_spacer">
            <a href="./">
                <div class="home">
                </div>  </a>
            <div class="letter">
            </div>
        </div>
    </div>
    <div class="decoration1"></div>
    <div class="main">
        <div class="sidebar_spacer">
            <div class="section sidebar">

                <ul class="menu">
                    <li class="first selected"><a href="#">Smartphones</a></li>
                    <li><a href="#">Computers and tablets</a></li>
                    <li><a href="#">Smartwatches</a></li>
                    <li><a href="#">TVs</a></li>
                    <li><a href="#">Gaming</a></li>
                    <li><a href="#">Promotions</a>
                    </li>

                </ul>
                <div id="kontakt">

                    <form action="" method="post" enctype="text/plain">  <br />
                        <div class="kontakt">Ask a question</div><br />
                        <div class="email"><input name="email" class="field" id="email" value="e-mail address"/><br /><br /></div>
                        <div class="temat"><input name="temat" class="field" id="temat" value="subject"/><br /><br /></div>
                        <div class="tresc"><textarea name="tresc" cols="16" rows="50" class="field2" id="tresc"  >content</textarea><br /></div>
                        <div class="wyslij"><input type="submit" value="send" name="submit" id="wyslij" /></div>
                    </form>

                </div>
                <div class="clear"></div>
            </div>
        </div>
        <div class="content_spacer">
            <div class="section_content">
                <div class="menu_poziome">

                    <ul class="menu">
                        <li><a href="./">Home</a></li>
                        <li><a href="#">Shop</a></li>
                        <li><a href="#">Partners</a></li>
                        <li><a href="#">Contact</a></li>
                        <li><a href="adminPanel.html">Admin panel</a></li>

                    </ul>

                </div>
                <div class="obrazek"></div>
                <div class="decoration2"></div>
                <div class="content">
                    <div class="tekst">
                        <h1>Logowanie</h1>

                     </div>
                </div>
                <div class="footer">
                    <p>Copyright &copy; 2020; Wykonał: Kacper Zdrojewski.</p>
                </div>
            </div>

        </div>

        <div class="clear"></div>
    </div>
</div>
</body>
</html>